<nav class="navbar navbar-expand-lg custom-navbar">
  <a class="custom-btn" [routerLink]=" ['./'] "
    routerLinkActive="active" [routerLinkActiveOptions]= "{exact: true}">
    Home
  </a>
  <a class="custom-btn" [routerLink]=" ['./snake'] "
    routerLinkActive="active" [routerLinkActiveOptions]= "{exact: true}">
    Snake
  </a>
  <a class="custom-btn" [routerLink]=" ['./lorenz-attractor'] "
    routerLinkActive="active" [routerLinkActiveOptions]= "{exact: true}">
    Lorenz Attractor
  </a>
  <a class="custom-btn" [routerLink]=" ['./perlin-noise'] "
    routerLinkActive="active" [routerLinkActiveOptions]= "{exact: true}">
    Perlin Noise
  </a>
</nav>

<router-outlet></router-outlet>