<div class="container">
  <div class="jumbotron">
    <h1>Snake game in p5.js integrated in Angular 6</h1>
  </div>
  <div class="row mb-5">
    <div class="offset-md-2 col">
      <div id="my-canvas"></div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <h3>Commands</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <h6>Space</h6>
      <p>Pause the game</p>
    </div>
    <div class="col-md-4">
      <h6>Escape</h6>
      <p>Restart the game</p>
    </div>
    <div class="col-md-4">
      <h6>Left, right, up, down arrows</h6>
      <p>Move</p>
    </div>
  </div>
</div>