<div class="container">
  <div class="jumbotron">
    <h1>Snake game in p5.js integrated in Angular 6</h1>
  </div>
    <div id="my-snake-canvas" tabindex="-1" class="mb-5"></div>

  <div class="commands">
    <div class="row">
      <div class="col">
        <h3>Commands</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <h6>Escape</h6>
        <p>Restart the game</p>
      </div>
      <div class="offset-md-4 col-md-4">
        <h6>Z &uarr;  Q &larr;  S &darr;  D &rarr;</h6>
        <p>Move</p>
      </div>
    </div>
  </div>
</div>